<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	default-autowire="byType" default-lazy-init="true"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!-- 自动扫描 -->
    <context:component-scan base-package="com.miri.ott.epgsearch">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan> 

    <!-- 加载配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:config.properties" />
    </bean>

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5"></property>
        <property name="maxPoolSize" value="30"></property>
        <property name="keepAliveSeconds" value="0"></property>
    </bean>

    <bean id="epgUpdateExecutor" name="epgUpdateExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="1"></property>
        <property name="maxPoolSize" value="30"></property>
        <property name="keepAliveSeconds" value="0"></property>
    </bean>

    <bean id="globalConfig" name="globalConfig" class="com.miri.ott.epgsearch.comm.GlobalConfig" factory-method="getInstance" />

    <bean id="solrServerUrls" name="solrServerUrls" factory-bean="globalConfig" factory-method="getSearchSolrUrls"></bean>
    
    <bean id="masterSolrUrls" name="masterSolrUrls" factory-bean="globalConfig" factory-method="getMasterSolrUrls"></bean>

    <bean id="lbHttpSolrClient" name="lbHttpSolrClient" class="org.apache.solr.client.solrj.impl.LBHttpSolrClient">
        <constructor-arg name="solrServerUrls" ref="solrServerUrls" />
    </bean>
    
    <!-- 单例CloudSolrClient 
    <bean name="solrClient" class="org.apache.solr.client.solrj.impl.CloudSolrClient" scope="singleton" destroy-method="close" > 
        <constructor-arg value="${zkHost}"></constructor-arg> <property name="zkConnectTimeout" value="5000"></property> 
        <property name="zkClientTimeout" value="10000"></property> 
        <property name="defaultCollection" value="${collection}"></property> 
    </bean> 
    -->
</beans>